<form action="/form" method="post">
 What month were you born in? <input type="text" name="month">
 <br/>
 What day of that month were you born?<input type="number" name="day">
</form>
<br/>
<input type = "submit">
</form>
