<% 
t= Time.now() 
if (t.hour >17 || t.hour<9)
	word= "YAAAAAAAASS!"
	colorid="colorful"
else 
	word= "No."
	colorid="not"
end
%>

<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"> </script>
<script>
	$(document).ready(function () {
		setInterval(function() {
			$("#colorful").animate( {
				backgroundColor: "#FF0000" }, 200)
			.animate( {backgroundColor: '#FF00FF' }, 200)
			.animate( {backgroundColor: '#0000FF'}, 200)
			.animate( {backgroundColor: '#00FF00'}, 200)
			.animate( {backgroundColor: '#FFFF00'}, 200); 
			}, 1000);
		});
</script>


<body id= "<%=colorid%>" >
	<div style="margin: auto; text-align:center;margin-top:150px">
		<p> Is it party time? </p> 
		<p style="font-size:80px"> <%= word %> </p>
		<p> Current Time is: <%= t %> </p>
	</div>
</body>

<style>
#colorful {
	background-color: #FFFF00;
}
#not {
	background-color: #FFFFFF;
}
</style>




