
<% 
t= Time.now
t=t.getlocal("-04:00")
if (t.hour >17 || t.hour<4)
	word= "YAAAAASS!"
	colorid="colorful"
elsif (t.hour<9 && t.hour>=4)
	word="No, you should sleep."
	colorid="sleep"
else 
	word= "No. It is time to twerk."
	colorid="not"
end
t.strftime("it is %T")

%>

<!DOCTYPE html>
<html>
	<head>
    	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>Is It Party Time</title>

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"> </script>
	
	<script type="text/javascript">
		$(document).ready(function () {
			setInterval(function() {
				$("#colorful").animate( {
					backgroundColor: "#FF0000" }, 200)
				.animate( {backgroundColor: '#FF00FF' }, 200)
				.animate( {backgroundColor: '#0000FF'}, 200)
				.animate( {backgroundColor: '#00FF00'}, 200)
				.animate( {backgroundColor: '#FFFF00'}, 200); 
				}, 1000);
			});

	</script>


    </head>
    <body id= "<%=colorid%>" >
		<div style="margin: auto; text-align:center;margin-top:150px">
			<p style="font-size: 30px"> Is it party time? </p> 
			<p style="font-size:100px"> <%= word %> </p>
			<p style="font-size: 30px"> Current Time is: <%= t %> </p>
		</div>
    </body>

<style>
#colorful {
	background-color: #FFFF00;
}
#not {
	background-color: #FFFFFF;
}
#sleep {
	background-color: #000099; 
}
</style>




