<h1><center> Is it pay-day today? </center></h1>

<center> When do you get paid? </center>

<center>
	<form action="/form" method="post">
		<input type="text" name="dayoftheweek">
		<input type="submit">
	</form>
</center>