<div id="welcome_page"> <!--this is the div for the entire welcome page: size[320x447]px -->
	<div id="welcome_message">Superhero Name Converter<br></div><!--this is the div for welcome message -->
	<div id="enter_name">Enter Your Real Name</div><!--this is the div for enter name message -->
	<div id="welcome_page_form" style="display: inline-block"><!--this is the div for the form -->
		(first & last)
		<form action="/name" method="post">
  		  <input type="text" name="message" value = "">
  		  <input type="submit" value="Super Me!">
	  	</form>
	</div>
</div>
<div id="other"></div>

