<% title="Superhero Name" %>
<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles.css">
  <title><%= title %></title>
  <meta charset="utf-8">
</head>
<body>
    <%= yield %>
</body>
<div id="footer">Cuny/NYTech Project by Daryl Shy
</html>
