
<h3>Click the image to see the 5 day forecast<h/3> 

<a href = "http://www.weather.com/weather/5-day/USNY0996"><img src ="http://images.clipartpanda.com/sad-sun-clip-art-toonvectors-324-940.jpg" align = "top"> 
</a>
