<h3>Click the image to see the 5 day forecast<h/3> 
<a href = "http://www.weather.com/weather/5-day/USNY0996"><img src ="http://www.vector-eps.com/wp-content/gallery/sun-smiley-face-expressions-vector/sun-smiley-face-expression-vector1.jpg" align = "middle"> </a>