<a href="/weather" style="z-index: 1; position: fixed; color: black;">Weather</a>
<div id="main">
<a href="/<%= @nextcam %>">
    <img src="http://207.251.86.238/cctv<%= @currentcam %>.jpg?" id="pic">
  </a>
</div>
