<!DOCTYPE html>
<html>
<head></head>
<body>
<h1> Simple NYC Weather:</h1>
<h2> <%= @wcondstr %> </h1>
<h2> <%= @temp %> </h2>
<a href="/<%= @nextcam %>">See a random traffic camera</a>
</body>
</html>
