/*this block add the border to the entire app*/
html{
	
    padding-left:10px;
}
/*end of style block------------------------*/

/*This block styles the welcome page*/
#welcome_page{
	position:relative;top:85px;height:320px;width:587px;
	background-color: white;
	background-repeat: no-repeat;
	text-align:center;
	float:left;
}
#other{
	position:relative;;height:499px;width:652px;
	background-image:url('http://fc01.deviantart.net/fs70/i/2012/127/6/a/ultimate_spider_man_and_piter_parker_by_krosi-d4ytifj.png');
	background-repeat:no-repeat;
	background-size:114%;
	float:left;
	background-color:white;
}

#welcome_message{
	height:120px;
	color:white;
	background-size:120px 587px;
	background-color:blue;
	font-size:2em;
	line-height:120px;vertical-align:middle;
}
#enter_name{
	height:90px;
	line-height:90px;vertical-align:text-bottom;
	font-size:2em;
}
#welcome_page_form{
	vertical-align:text-top;
	color:gray;
	text-align:left;
	height:110px;
}
/*end of style block------------------------*/

/*This block styles the results after a user enters in their name*/
#superhero_name_parent_div{/*for the whole div*/
	position:relative;top:85px;height:320px;width:587px;
	background-color: white;
	background-repeat: no-repeat;
	text-align:center;
	float:left;
}

#supername_header{/*for the header message: "Your superhero name is:"*/
	height:120px;
	color:white;
	background-size:120px 447px;
	background-color:blue;
	font-size:2em;
	line-height:120px;vertical-align:middle;
}

#supername{/*for the resulting message: "superhero name"*/
	height:52px;
	line-height:52px;vertical-align:middle;
	font-size:2.4em;color:red;
}
#play_again{/*for the play again button*/
	height:110px;
}
#other2{
	position:relative;;height:499px;width:652px;
	background-image:url('http://i1161.photobucket.com/albums/q503/Diego_Timido/spiderman.png');
	background-repeat:no-repeat;
	background-size:119%;
	float:left;
}
/*end of style block------------------------------------------*/
#footer{
	height:77px;width:1225px;
	background-color:red;
	position: absolute; bottom: 45px; left: 100;
	font-size:1.3em;
	line-height:127px;
	color:white;
	padding-left:15px;
}




